*{
    box-sizing:border-box;
}
body::before {
    content: "";
    position:absolute;
    
   
  }
  
  body::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    z-index: -1;
    border: 5px solid black;
  }
  